/* Header */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  transition: 1s;
  margin: 0;
  padding: 0;
}
#google_translate_element_container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.sect h1{
  text-align: center; 
  color:#2270e2; 
  font-size: 40px;
}
.sect {
  opacity: 0;
  transition: 2s;
}
.sect.active {
  z-index: -50px;
  opacity: 1;
}
#contactHead {
  margin-top: 11%;
}

video {
  width: 90%;
  image-resolution: 100%;
}

.nav2 {
  width: 100%;
  height: 80px;
  display: inline;
  background-color: #81cbe9;
}
#sers {
  color: #2270e2;
  font-size: 30px;
}

.nav2 {
  width: 100%;
  height: 60px;
  display: inline;
  background-color: #2270e2;
}

.nav2 a {
  text-decoration: none;
  color: white;
  transition: 1s;
}
.nav2 a:hover {
  font-size: 16px;
  color: #35455e;
  letter-spacing: 2px;
}

.nav2Header a:hover {
  color: white;
  letter-spacing: 0px;
}
.btn a {
  padding: 10px;
  float: right;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  transition: 0.5s;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn a:hover {
  color: #2270e2;
  background-color: white;
  border: 1px solid white;
}

.secNav {
  float: right;
}
.secNav a {
  padding: 30px;
  font-size: 15px;
}
.nav2Header {
  font-weight: 600;
  font-size: 16px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#active {
  font-weight: bold;
  font-size: 16px;
  color: #233a5e;
}

/* Background image */

#contactHead {
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 100% 100%;
  opacity: 0.9;
  margin-top: 0;
}
/* section */
form {
  padding: auto 10px;
  margin-bottom: 10px;
}

#name,
#email,
#message {
  width: 550px;
  border-radius: 5px;
  color: #a8a8a8;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.connect {
  display: flex;
  margin: auto 20px;
  padding-left: 70px;
}

#message {
  height: 150px;
}
#sendMsg {
  color: white;
  background-color: #2270e2;
  border: none;
  border-radius: 5px;
  width: 550px;
}
#contactImg img {
  display: flex;
  justify-content: right;
  width: 530px;
  height: 450px;
  border-radius: 10px;
  margin-right: 90px;
  margin-top: 20px;
}
#contact-email,
#contact-phone {
  padding: 20px;
}
#contact-phone {
  padding-right: 20px;
}

.bx-phone,
.bx-envelope,
.bx-buildings {
  width: 50px;
  background-color: #2270e2;
  color: white;
  font-size: 40px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect1 {
  display: flex;
  margin-left: 60px;
}
.connect1 i {
  margin-left: 90px;
  font-size: 25px;
  height: 30px;
  width: 30px;
}

.connect1 a {
  text-decoration: none;
  color: black;
}
input[type="text"],
input[type="email"] {
  padding-top: 10px;
  margin-top: 10px;
}
input[type="submit"] {
  padding: 15px;
  margin-left: 4px;
  margin-top: 10px;
}
#location {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
#locHeading {
  margin-top: 150px;
}
.loc a {
  text-decoration: none;
  color: #2270e2;
}
body {
  margin: 0;
  padding: 0;
}

.loc {
  text-align: center;
  padding: 50px;
  width: 350px;
  border: #2270e2 1px solid;
  max-width: 230px;
  margin: 10px;
  border-radius: 20px;
  transition: 1s;
}
.loc:hover {
  box-shadow: 0 0 10px #2270e2;

  border: #020202 1px solid;
}
.loc .bx-phone,
.loc .bx-envelope {
  width: 5px;
  background-color: white;
  color: #2270e2;
  font-size: 20px;
  height: 20px;
  padding-right: 20px;
  border-radius: 50%;
}
/* Bottom Section */
.bottomSec {
  background-image: url(pexels-christina-morillo-1181396.jpg);
  height: 350px;
  width: 100%;
  text-align: center;
  background-size: 100% 100%;
  opacity: 0.85;
  margin-top: 0;
}
.lastSec {
  text-align: center;
  padding: 30px;
  width: 70%;
  margin-left: 150px;
}
.secLink {
  background-color: #2270e2;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
}
.map {
  width: 300px;
  height: 300px;

  border: 0;
  margin-left: -35px;
  margin-top: 10px;
  margin-bottom: -30px;
}
/* footer */
footer {
  background-color: #202020;
  color: white;
  margin-top: 0;
  height: 250px;
}
.footer-Icons {
  font-size: 30px;
}
.footer-Icons a {
  color: white;
  text-decoration: none;
  transition: 1s;
}

.footer {
  display: flex;
  justify-content: center;
}
.pageCont {
  display: flex;
  flex-direction: column;
}
.pageCont a {
  text-decoration: none;
  color: white;
  transition: 1s;
}
footer a:hover {
  color: #2270e2;
  letter-spacing: 2px;
}
.social-media {
  padding: 20px 100px;
}
.social-media .pages {
  padding: 20px 100px 20px 150px;
}
.contact {
  padding: 20px 250px 20px;
}
.contact a {
  text-decoration: none;
  color: white;
}
