@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  
}
#google_translate_element_container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.sect{
opacity: 0;
transition: 2s;
}
.sect.active{
z-index: -50px;
opacity: 1;
}


video{
    width: 90%;
    image-resolution: 100%;
    margin-bottom: 20px;
}


.nav2 {
width: 100%;
height: 80px;
display: inline;
background-color: #81cbe9;
}
#sers{
    color: #2270e2;
    font-size: 30px;
}

.nav2 {
width: 100%;
height: 60px;
display: inline;
background-color: #2270e2;
}


.nav2 a {
text-decoration: none;
color: white;
transition: 1s ;

}
.nav2 a:hover{
font-size: 16px;
color: #35455e;
letter-spacing: 2px;
}

.btn a {
    padding: 10px;
float: right;
font-size: 16px;
color:white;
background-color: transparent;
border: none;
transition: 0.5s;
margin-right: 20px;
border-radius: 10px;
text-decoration: none;
}

.btn a:hover {
color:#2270e2;
background-color: white;
border: 1px solid white;

}

.secNav {
float: right;
}
.secNav a {
padding: 30px;
font-size: 15px;
}
.nav2Header {
font-weight: 600;
font-size: 16px;
}
.nav2 {
display: flex;
align-items: center;
justify-content: space-between;
}
#active{
font-weight: bold;
font-size: 16px;
color: #233a5e;
}
body {
    margin: 0;
    padding: 0;
    
}



/*footer*/


.footer {
  
    background-color: #202020;
    color: white;
    margin-top: 0;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  
  .footer-Icons{
    font-size: 30px;
    
  }
  .footer-Icons a{
    color: white;
    text-decoration: none;
    transition: 1s;
  }
  
  
  .pageCont {
    display: flex;
    flex-direction: column;
  }
  .pageCont a {
    text-decoration: none;
    color: white;
    transition: 1s;
  }
  footer a:hover{
    color:#2270e2;
    letter-spacing: 2px;
  }
  .social-media {
    padding: 20px 100px;
    
  }
  .social-media
  .pages {
    padding: 20px 100px 20px 150px;
  }
  .contact {
    padding: 20px 250px 20px;
  }
  .contact a {
    text-decoration: none;
    color: white;
  }

.reviewMain{
    width: 90%;
    margin: 2% 5%;
    border: 1px solid #2270e2;
    border-radius: 20px;
    padding: 5% 0%;
}
main{
    margin-top: 1%;
    margin-bottom: 10%;
    text-align: center;
    
}
main h3, main h5{
    color: #2270e2;
}
main p{
    font-size: 14px;
}
main img{
    width: 100px;
    border-radius: 50%;
}
main h1{
    font-size: 40px;
    color: #2270e2;
    
}
video{
    width: 90%;
    image-resolution: 100%;
    margin-bottom: 20px;
}

.bottom h1, .bottom h2, .bottom h3, .bottom h4, .bottom h5, .bottom h6{
    color: #2270e2;
}
.bottom a{
    background-color: #2270e2;
    color: white;
    padding: 1%;
    text-decoration: none;
    border-radius: 10px;
    transition: 1s;
}
.bottom a:hover{
    color: #2270e2;
    background-color: white;
}
.bottom{
    margin-bottom: -10%;
}